*{
    padding: 0;
    margin: 0;
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* body {
  background: #111;
} */
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #7bdcb5;;
    height: 70px;
    box-shadow:0px 4px 4px 0px rgba(37, 175, 230, 0.5);
    
}
.logo{
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px;
    box-sizing: border-box;
    
    
}
.logo img{
    width: 50px;
    height: 50px;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;   
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 40px;;
    
    
}
.navbar ul li{
    margin-top: 15px;
    margin-left: 12px;
    
    box-sizing: border-box;

    text-decoration:none;
    list-style: none;
}
.navbar ul li a{
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(46, 44, 48);
    width: 50px;
    height: 50px;
}
.navbar ul li a:hover{
    background-color: lightsalmon;
    color: black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.navbar  input[type=search]{
        display: inline-block;
        margin-left: 180px;
        margin-top: 8px;
        background-color: white;
        width: 600px;
        height: 45px;
        border-radius: 5px;
        text-align: center;
        
        margin-bottom: 2px;
        border: none;
    
     
}

.button{
    position:absolute;
    top:0;
    right:0;
    margin: 8px;
    box-sizing: border-box;
    
}
.button .login{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    background-color: #0693e3;
   

}
.button .login a{
    text-decoration: none;
    color: white;
}
.button .Registeration{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px ;
    background-color: #0693e3;
    color: white;
    
}
.button .Registeration a{
    text-decoration: none;
    color: white;
}
.Employeeform h1{
    width: 100%;

    position: relative;
    /* left: 70px; */
    text-align: center;
    align-items: center;
    margin: 10 auto;
    color: #0693e3;
    
    
    
}
.form{
    position:absolute;
    top: 120px;
    left: 400px;
    
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
    box-sizing: border-box;
    background-color: #b1f3fc;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);


}
.form:hover{
    background-color: rgb(197, 245, 247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form .forms{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 14px;

}
.form .forms .same{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 5px;
    
}
.form .forms .same input[type="text"]{
    margin-left: 45px;
    width: 500px;
    height: 34px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.form .forms .same input[type="email"]
{
    margin-left: 80px;
    width: 500px;
    height: 34px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.form .forms .same input[type="number"]{
    margin-left: 14px;
    width: 500px;
    height: 34px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.form .forms .same input[type="date"]{
    margin-left: 35px;
    width: 160px;
    width: 500px;
    height: 34px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.form .forms .same input[type="radio"]{
    
    margin-left:79px;
    
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    
}

.submit{
    background-color: #0693e3;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    height: 45px;
    text-align: center;
}

.d-flex{
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section_img{
    transition-delay: 0.5s;
}
.img-fluid {
   
    width: 244px;
    height: 299px;
    position: absolute;
    display: block;
   
  
    position: absolute;
    
}

.animated{
    position: relative;
    left: 100px;
    animation: imageAnimate 2s ease-in-out  infinite alternate-reverse running;
}
@keyframes imageAnimate {
    from{
        position: relative; 
        top: 100px;
    }
    to{
        position: relative;
        top: 0px;
    }
    
}
